html {
    height: 100%;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    border: 1px solid #282c34;
}

.container {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

h1 {
    color: #282c34;
    text-align: center;
}

ol {
    font-size: 16px;
}

input {
    border-radius: 7px;
    padding: 5px;
    border-color: #282c34;
}

button {
    display: inline-block;
    color: white;
    padding: 5px;
    margin: 5px 5px;
    border-radius: 7px;
    background: #282c34;
    cursor: pointer;
}
